.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: none;
  }
  
  .modal__content {
    padding: 30px;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
  }
  
  .modal__header {
    height: 30px;
  }
  
  .modal__body {
    height: calc(100% - 30px);
    width: 100%;
  }
  
  .modal__body iframe {
    height: 100%;
    width: 100%;
  }
  
  .modal__dismiss {
    float: right;
    color: #333333;
    background-color: #DCDCDC;
  }